.App-img {
  text-align: center;
}

.App-title {
  font-size: 4em !important;
}

.App-title2 {
  font-size:2.7em !important;
  padding-top: 55px !important;
  margin-bottom: 30px !important;
}

.teamlist {
  margin-top:30px;
  margin-bottom:
}
